<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vue.mapper.NewsCommentMapper">
    <resultMap id="BaseResultMap" type="com.example.vue.entries.NewsComment">
        <!--@mbg.generated-->
        <!--@Table demo.vue_news_comment-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, add_time, content
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from demo.vue_news_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from demo.vue_news_comment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.vue.entries.NewsComment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into demo.vue_news_comment (user_name, add_time, content
        )
        values (#{userName,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.vue.entries.NewsComment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into demo.vue_news_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.vue.entries.NewsComment">
        <!--@mbg.generated-->
        update demo.vue_news_comment
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.vue.entries.NewsComment">
        <!--@mbg.generated-->
        update demo.vue_news_comment
        set user_name = #{userName,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getNewsListByPage" resultMap="BaseResultMap">
        select * from demo.vue_news_comment limit #{pageNumber}, 10;
    </select>
</mapper>