<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vue.mapper.PhoneMapper">
    <insert id="insertSelective" parameterType="com.example.vue.entries.Phone">
        insert phone (id, name, price, time) values (default, #{name}, #{price}, #{time})
    </insert>
</mapper>